Source: linux-multi-v7
Section: kernel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 13), kmod
Standards-Version: 4.5.1
Vcs-Git: https://github.com/bgat/linux-multi-v7.git

Package: linux-multi-v7
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Linux kernel and modules for ARMV7 targets
 This package is a part of Pragmatux (http://pragmatux.org).

Package: linux-headers-multi-v7
Provides:
 linux-headers-boneblack,
 linux-headers-bonewhite,
 linux-headers-bonegreen,
 linux-headers-boneblackwireless,
 linux-headers-bonewhitewireless,
 linux-headers-beaglexm,
 linux-headers-beagleboard,
 linux-headers-overo,
 linux-headers-overostorm,
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Kernel headers for out-of-tree builds
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-multi-v7
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Firmware for ARMV7 targets
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-boneblack
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for the Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-boneblack
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for the Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-boneblack
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-bonewhite
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for the Beaglebone White
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-bonewhite
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for the Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-bonewhite
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-bonegreen
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for the Beaglebone Green
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-bonegreen
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for the Beaglebone Green
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-bonegreen
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beaglebone Green
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-bonegreenwireless
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for Beaglebone Green Wireless
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-bonegreenwireless
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for Beaglebone Green Wireless
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-bonegreenwireless
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beaglebone Green Wireless
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-boneblackwireless
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for Beaglebone Black Wireless
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-boneblackwireless
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for the Beaglebone Black Wireless
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-boneblackwireless
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beaglebone Black Wireless
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-beaglexm
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for the Beagleboard XM
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-beaglexm
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for the Beagleboard XM
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-beaglexm
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beagleboard XM
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-beagleboard
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for Beagleboard C/D
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-beagleboard
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for Beagleboard C/D
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-beagleboard
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beagleboard C/D
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-overo
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for Gumstix Overo
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-overo
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for Gumstix Overo
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-overo
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Gumstix Overo
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-overostorm
Architecture: armhf armel
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for Gumstix Overo Storm
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-overostorm
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for Gumstix Overo Storm
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-overostorm
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Gumstix Overo Storm
 This package is a part of Pragmatux (http://pragmatux.org).
