Source: linux-multi-v7
Section: kernel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 7.0.50~), module-init-tools
Standards-Version: 3.9.4
Vcs-Git: https://github.com/bgat/linux-multi-v7.git

Package: linux-multi-v7
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Linux kernel and modules for ARMV7 targets
 This package is a part of Pragmatux (http://pragmatux.org).

Package: linux-headers-multi-v7
Provides: linux-headers-boneblack
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Kernel headers for out-of-tree builds
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-multi-v7
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Firmware for ARMV7 targets
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-boneblack
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for the Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-boneblack
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for the Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-boneblack
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-bonewhite
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for the Beaglebone White
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-bonewhite
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for the Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-bonewhite
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beaglebone Black
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-beaglexm
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for the Beagleboard XM
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-beaglexm
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for the Beagleboard XM
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-beaglexm
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beagleboard XM
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-beagleboard
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for Beagleboard C/D
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-beagleboard
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for Beagleboard C/D
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-beagleboard
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Beagleboard C/D
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-overo
Architecture: armhf armel
Multi-Arch: foreign
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for Gumstix Overo
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-overo
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for Gumstix Overo
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-overo
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Gumstix Overo
 This package is a part of Pragmatux (http://pragmatux.org).


Package: linux-overostorm
Architecture: armhf armel
Depends: ${misc:Depends} linux-multi-v7
Description: Linux kernel and modules for Gumstix Overo Storm
 This package is a part of Pragmatux (http://pragmatux.org).

Package: firmware-overostorm
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} firmware-multi-v7
Description: Firmware blobs for Gumstix Overo Storm
 This package is a part of Pragmatux (http://pragmatux.org).

Package: dtb-overostorm
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Generic Device Tree Blob for Gumstix Overo Storm
 This package is a part of Pragmatux (http://pragmatux.org).
